<div class="card m-3 d-flex">
  <div class="card-body">
      <form action="/sign_in" method="POST">
      <div class="form-group">
          <label class="my-2 text-secondary" for="username"> Username</label>
          <input
          required
          type="text"
          class="form-control"
          name="username"
          placeholder="e.g. Joe Smith"
          />
      </div>
      <div class=" mt-3 d-flex flex-row-reverse">
          <button type="submit" class="px-5 btn btn-outline-secondary">Sign In</button>
      </div>
      </form>
  </div>
</div>